core/objects/community/
core/objects/law/
core/objects/object/
core/objects/position/
core/objects/rules/
core/objects/saves/
core/objects/season/
core/objects/time/
core/objects/weather/
core/objects/world/
core/objects/zone/

core/plugins/communication/
core/plugins/configuration/
core/plugins/filesystem/
core/plugins/world/
core/plugins/plugins.json.bak

core/plugins/server/

__pycache__/
._*
.DS_Store
core_bcp/
.bcp/

scripts/